DB_NAME=#databaseName
DB_USER=#database user name
DB_PASSWORD=#database user password
DB_HOST=#database host
DB_PORT=#database port
API_SECRET_KEY=#API key for authentcation
ALLOWED_HOSTS=#allowed hosts ip seperated by comma